body{
    font-family: 'VT323', monospace;
    font-weight: 400;
    background-color: lightgreen;
}
h1{
    display: flex;
    justify-content: center;
    width: 100vw;
}
p{
    display: flex;
    justify-content: center;
    width: 100vw;
}
terra img{
    width: 40px;
    height: auto;      
}
div {
    display: grid;
    grid-template-columns: repeat(12, 40px);
    grid-template-rows: repeat(12, 40px);
    justify-content: center;
    justify-items: center;
}
